.wd-body {
    background-color: black;
    max-width: 600px;
}

.wd-shift-from-left {
    left: 12px;
    position: relative;
    color: white;
}

.wd-search-bar {
    background-color: darkgray;
    height: 20px;
    width: 450px;
    border-width: 0;
    text-indent: 4px;
}

.wd-round-corners {
    border-radius: 10px;
}

.wd-link {
    font-size: 15px;
    margin: 16px;
    padding-bottom: 12px;
    display: inline-block;
    text-decoration: none;
    color: rgb(110, 118, 125)
}

.wd-highlighted-link {
    border-width: 0;
    border-bottom-width: 4px;
    border-style: solid;
    color: rgb(29,161,242);
}

.wd-block {
    display: block;
    width: 400px;
}

.wd-grey {
    color: rgb(110, 118, 125);
}

.wd-border-grey {
    border-color: rgb(47, 51, 54)
}

.wd-text-small {
    font-size: 13px;
}

.wd-text-content {
    padding-bottom: 16px;
}

.wd-article-content {
    height: 100px;
}



.wd-gear-image {
    object-fit: cover;
    right: 12px;
    border-color: #282c34;
    border-width: 0;
    border-style: solid;
    float: right
}

.wd-col-left {
    float: left
}

.wd-col-right {
    float: right;
    right: 16px;
}

.wd-float-done {
    clear: both;
}

