.wd-body {
    max-width: 1400px;
    font-family: sans-serif;
}

.wd-thick {
    font-weight: bold;

}

.wd-small {
    font-size: 16px;
}

.wd-shift-from-left{
    left: 16px;
    position: relative;
    color: white;
}

.rounded-5.override-bs {
    border-radius: 10px;
}







.wd-grey {
    color: rgb(110, 118, 125);
}

.wd-dark-grey {
    color: rgb(47, 51, 54);
}

.wd-border-grey {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54)
}

.wd-col-left {
    float: left;
}

.wd-clear {
    position: relative;
}

.wd-col-left1 {
    float: left;
    width: 25%;
}
